#req_setting {
    border: 2px dashed grey;
    height: 450px;
    width: 380px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px   ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);   
    border-radius: 12px;
    max-width: 500px;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

#configurations{
    font-size: 20px;
    font-weight: bold;
}

#req_setting>*{
    text-align: left;
}

#range > label,#print_type>label, #copies>label{
    font-size: 18px;
    font-weight: 600;
}

#range, #print_type, #copies{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

#print_type>div,#range>div,#copies>#input{
    display: flex;
    width: 200px;
    gap: 10px;
    margin-left: 20px;
}

input{
    border-radius: 6px;
    border: 1px solid grey;
    font-size: 14px;
    padding: 4px;
}
input:hover{
    border: 1px solid rgb(96, 93, 93);
}

#inputs{
        margin-left: 20px;
}
#inputs>button{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
    width: 25px;
    font-size: 16px;
    font-weight: 600;
}

#inputs>label{
    background-color: white;
    border: 1px solid grey;
    width: 35px;
    border-radius: 3px;
    color: black;
    font-weight: lighter;
    font-size: 18px;
    align-self: center;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px; 
}
#update{
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    color: black;
    width: 100px;
    display: inline-block;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    margin-left: 35%;
}
#update:hover{
    border: 1px solid rgb(96, 93, 93);
}

